<h1>Nuevo Grupo de Secciones</h1>

<%= form_with(model: @section_group, local: true) do |form| %>
  <% if @section_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section_group.errors.count, "error") %> prohibieron que el grupo de secciones se guardara:</h2>

      <ul>
        <% @section_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :n_seats %>
    <%= form.text_field :n_seats %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :h_start %>
    <%= form.text_field :h_start, value: @section_group.h_start, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :h_end %>
    <%= form.text_field :h_end, value: @section_group.h_end, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day, value: @section_group.day, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :starting_place_id  %>
    <%= form.text_field :starting_place_id , value: @section_group.starting_place_id , readonly: true %>
  </div>

  <div class="field">
    <%= form.label :ending_place_id  %>
    <%= form.text_field :ending_place_id  , value: @section_group.ending_place_id  , readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear Grupo de Secciones' %>
  </div>
<% end %>


<%= render 'shared/navbar' %>

  <div class="container mt-4">
    <%= yield %>
  </div>
