<h1>Global</h1>

<%= link_to 'Modo Llegada', global_path(mode: 'llegada'), class: 'btn btn-primary' %>
<%= link_to 'Modo Salida', global_path(mode: 'salida'), class: 'btn btn-primary' %>

<% @active_itineraries.each do |itinerary| %>
  <h2>Itinerario: <%= itinerary.day %></h2>
  <% if itinerary.status == 'Piloto' %>
    <p>Eres piloto.</p>
  <% else %>
    <% filtered_groups = filter_groups(itinerary, @mode) %>
    <ul>
      <% filtered_groups.each do |group| %>
        <div class="group-info">
          <li><strong>Nombre del Grupo:</strong> <%= group.day %></li>
          <p>Personas unidas al grupo: <%= group.users.count %> / <%= group.n_seats %></p>
          <!-- Agrega más detalles del grupo según tus necesidades -->
          <% if group.users.include?(current_user) %>
            <p>Ya estás unido a este grupo.</p>
          <% elsif group.users.count >= group.n_seats.to_i %>
            <p>Este grupo está lleno.</p>
          <% else %>
            <%= form_with url: join_group_path(group), method: :post, local: true do %>
              <%= hidden_field_tag :mode, @mode %>
              <%= submit_tag 'Unirse al grupo', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= render 'shared/navbar' %>

<div class="container mt-4">
  <%= yield %>
</div>
