<h1>Global</h1>

<%= link_to 'Modo Llegada', global_path(mode: 'llegada'), class: 'btn btn-primary' %>
<%= link_to 'Modo Salida', global_path(mode: 'salida'), class: 'btn btn-primary' %>

<% if @filtered_groups.any? %>
  <% @filtered_groups.group_by(&:itinerary_id).each do |itinerary_id, groups| %>
    <% itinerary = Itinerary.find(itinerary_id) %>
    <h2>Itinerario: <%= itinerary.day %></h2>
    <ul>
      <% groups.each do |group| %>
        <div class="group-info">
          <li><strong>Nombre del Grupo:</strong> <%= group.name %></li>
          <!-- Agrega más detalles del grupo según tus necesidades -->
        </div>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No se encontraron grupos para mostrar.</p>
<% end %>

<%= render 'shared/navbar' %>

<div class="container mt-4">
  <%= yield %>
</div>