<!DOCTYPE html>
<html>
<head>
  <title>Global</title>
  <style>

    .navbar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f8f9fa; /* Cambia el color de fondo según tu diseño */
      padding: 10px;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    }

    body {
      margin-bottom: 100px; /* Agrega un margen inferior al cuerpo para evitar que el navbar se superponga */
    }

    .group-info {
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }
    
    /* Estilo adicional para las listas */
    .group-info ul {
      margin: 0; /* Elimina el margen predeterminado de las listas */
      padding: 0; /* Elimina el relleno predeterminado de las listas */
    }
    
    .group-info li {
      margin-bottom: 5px; /* Ajusta el margen inferior de cada elemento de la lista */
    }

    /* Estilo adicional para el contenedor principal */
    .main-content {
      margin-bottom: 70px; /* Ajusta el margen inferior para dejar espacio al navbar */
    }
  </style>
</head>
<body>

  <div class="main-content">
    <h1>Global</h1>

    <p>Modo: <%= @current_mode %></p>
    <%= link_to @button_text, global_path(mode: @new_mode), class: 'btn btn-primary' %>

    <% @active_itineraries.each do |itinerary| %>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title"><%= itinerary.day %>: <%= itinerary.h_start %> -- <%= itinerary.h_end %></h2>
          <% if itinerary.status == 'Piloto' %>
            <p class="card-text">Eres piloto.</p>
          <% else %>
            <% filtered_groups = filter_groups(itinerary, @current_mode) %>
            <% filtered_groups.each do |group| %>
              <div class="group-info">
                <ul>
                  <li><strong>Día del Viaje:</strong> <%= group.day %></li>
                  <li><strong>Hora de Salida:</strong> <%= group.h_start %></li>
                  <li><strong>Hora de Llegada:</strong> <%= group.h_end %></li>
                  <li><strong>Costo:</strong> <%= group.cost %></li>
                  <li><strong>Lugar de Salida:</strong> <%= group.starting_place.name %></li>
                  <li><strong>Lugar de Llegada:</strong> <%= group.ending_place.name %></li>
                  <li><strong>Personas unidas al viaje:</strong> <%= group.users.count %> / <%= group.n_seats %></li>
                  <% if group.users.include?(current_user) %>
                    <li>Ya estás unido a este viaje.</li>
                  <% elsif group.users.count >= group.n_seats.to_i %>
                    <li>Este viaje está lleno.</li>
                  <% else %>
                    <li>
                      <%= form_with url: join_group_path(group), method: :post, local: true do %>
                        <%= hidden_field_tag :mode, @mode %>
                        <%= submit_tag 'Unirse al viaje', class: 'btn btn-primary' %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</body>

<div class="navbar">
    <%= render 'shared/navbar' %>
</div>

</html>
